* {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    border: 1px solid black;
}

body,
html {
    position: relative;
}

/* .givePadding{
    padding: 1%;
} */

.aboutUs {
    border: red 1px solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.a1,
.a2 {
    width: 100%;
    display: inline-block;

}

.rounded-circle {
    margin: 50px;
}

.carousel-item .row .col-md-2 a img {
    margin-inline: 125px;
}

/* thunb */

.carousel-control-next {
    height: 100px;
}

.carousel-control-prev {
    height: 100px;
}

/* .carousel-indicators .active{ 
    margin-top: 10px !important;
} */

/* ol {
    margin-top: 100px
} */
.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    top: 200px;
}


.carousel-item .row .col-md-2 a img {
    /* color: white;
    box-shadow: 2px 2px 2px  #615d5d ; */
}