@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Noto+Serif+TC:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    /* border: 1px solid black; */
}

body,
html {
    position: relative;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
  }


  /* 關於凱茂 */
.rounded-circle {
    margin: 50px;
}

/* 字形 */
.indexh1 {
    font-family: 'Jost';
    font-weight: 700;
    font-size: 70px;
    color: rgb(0, 90, 175);
}

.indexh2 {
    margin-top: 25px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: rgb(0, 90, 175);
}

.indexh3 {
    margin-top: 25px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(0, 90, 175);
}

.indexp {
    margin-top: 30px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: rgb(90, 90, 90);
}

.container .row .col-xl-6{
padding-left: 100px;
}
/* 關於凱茂 */
.KAIMAUDiv{
    height: 100vh;
    overflow: hidden;
    
}

.KAIMAUImage{
    max-width: 150%;
    height: 80%;
    position: relative;
    left: -20%;
    top: 10%;

}

.about-title-en {
    margin-top: 46%;
}

.about-title-cn{
    margin-top: 30%;

}
/* 合作夥伴 */
.carousel-indicators{
    position:absolute;
    right:0;
    bottom:0;
    left:0;
    z-index:15;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-pack:center;
    justify-content:center;
    padding-left:0;
    margin-right:15%;
    margin-left:19%;
    list-style:none;
    margin-bottom: 0%;
}


.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    /* padding-top: 1%; */
    /* width: 0;
    height: 0;
    margin-right: 0;
    margin-left:0; */
    text-indent: -999px;
    cursor: pointer;
    background-color: black;
    background-clip: padding-box;
    border-top: 0 solid transparent;
    border-bottom: 0 solid transparent;
    opacity: .5;
    transition: opacity 0.6s ease;
  }

 .carousel-control-prev, .carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  color: white;
  text-align: center;
  opacity: 0.3;
  transition: opacity 0.15s ease;
  border: 0;
}



.carousel-control-next {
    width: 3%;
    /* height: 136px; */
    height: 34%;

    margin-right: 7.2%;
}

.carousel-control-prev {
    width: 3%;
    /* height: 136px; */
    height: 34%;
    margin-left: 10%;

}

button>svg{
    color: black;
}

/* .carousel-indicators .active{ 
    margin-top: 10px !important;
} */

/* ol {
    margin-top: 100px
} */
.carousel-caption {
    /* position: relative;
    left: auto;
    right: auto; */
    /* top: 90%; */
}


.carousel-item .row {
    margin-left: 13%;
}

/* cube */
.cube{
    margin-left: 68%;
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    /* transform: rotateX(-30deg); */
    animation: animate 4s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%
    {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube div
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#151515,#00ec00);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}
.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #00ec00;
    transform: rotateX(90deg) translateZ(150px);
}

.top::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #0f0;
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 225, 0, 0.2),
    0 0 200px rgba(0, 225, 0, 0.4),
    0 0 300px rgba(0, 225, 0, 0.6),
    0 0 400px rgba(0, 225, 0, 0.8),
    0 0 500px rgba(0, 225, 0, 1);
}

/* cube1 */
.cube1{
    margin-left: 5%;
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    /* transform: rotateX(-30deg); */
    animation: animate 4s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    100%
    {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube1 div
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.cube1 div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000,#005AAF);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
}
.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #005AAF;
    transform: rotateX(90deg) translateZ(150px);
}

.top::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    background: #000;
    transform: translateZ(-380px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(0, 0, 0, 0.2),
    0 0 200px rgba(0, 0, 0, 0.4),
    0 0 300px rgba(0, 0, 0, 0.6),
    0 0 400px rgba(0, 0, 0, 0.8),
    0 0 500px rgba(0, 0, 0, 1);
}