#header {
    /* position:relative; */
    width: 100%;
    height: 100vh;
    text-align: center;
    background-image: url(../資訊圖庫/A25.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

#headerContent {
    position: relative;
    top: 50%;
    left:50%;
    color: #fff;
    transform: translate(-50%,-50%);

}
#headerContent h1{
    font-family: 'Jost';
    font-weight:700;
    font-size: 70px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
}
#headerContent p{
    margin-top: 10px;
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: rgb(255, 255, 255);
}
#headerContent img{
    width:100px;
    margin-bottom: 30px;
}


#content {
    width: 100%;
    /* height: 100vh; */
}

.Line{
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.contactBanner{
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url('../資訊圖庫/A25.jpg');
    background-color: rgb(255, 255, 255);
    background-position: center;
    width:100%; 
    height: 450px;
    background-size: cover;

}
.contactBanner img{
    
    width:100px;
    position: relative;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);

}

/* 以下MAP */

#map {
    width: 100%;
    height: 400px;
}

#mapContent {
    text-align: center;
}

/* 電話傳真字形 */
.mapContentFont {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(0, 90, 175);
}

/* --- Map --- */



/* 以下 Form */

/* Form title字形 */
.titleFont {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: rgb(0, 90, 175);
}

/* 更新驗證碼字形 */
.CaptchaFont {
    font-family: 'Noto Sans TC', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: rgb(0, 90, 175);
}

#contactForm {
    width: 100%;
    height: 100%;
}

.form-group label span {
    color: red;
}

#refresh {
    display: inline-block;
    cursor: pointer;
}

#refreshIcon {
    transition: all 0.5s ease;
}

/* --- Form--- */


/* 以下 Footer */

.footer {
    background-color: #cbcbcb;
    color: #CCCCCC;
    margin-bottom: -25px;
    height: 300px;
}


.footer a {
    color: #818181;
    text-decoration: none;
    font-size: 14px;
}

.footer a:hover {
    color: #ffffff;
    text-decoration: none;
    transition: 0.5s;
}

/* --- Footer --- */