/* @import url("https://fonts.googleapis.com/css?family=Cardo|Pathway+Gothic+One"); */
/* font-family: "Pathway Gothic One", sans-serif; */
/* font-family: Georgia, serif; */
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../HP_image/a04.jpg");
  font-family: 'Playfair Display',sans-serif,'Noto Serif TC', serif;
}

/* Hamburger */
:root {
  --overlay-color: rgba(11, 10, 10, 0.85);
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.showcase {
  background: var(--primary-color);
  color: #fff;
  height: 0vh;
  position: relative;
}

.showcase:before {
  content: '';
  background: url('') no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.showcase .showcase-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.showcase h1 {
  font-size: 4rem;
}

.showcase p {
  font-size: 1.3rem;
}

.btn {
  display: inline-block;
  border: none;
  background: var(--primary-color);
  color: rgb(74, 47, 23);
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  transition: opacity 1s ease-in-out;
  text-decoration: none;
}

.btn:hover {
  opacity: 0.7;
}

/* social icons */
.nav{
  margin-top: 80px;
  flex-direction: row;
  display: flex;
  opacity: 0.5;
  /* margin: 20px; */
}

.nav:hover{
  margin-top: 80px;
  flex-direction: row;
  display: flex;
  opacity: 1;
  /* margin: 20px; */
}

/* MENU STYLES */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.menu-wrap .hamburger {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger>div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: rgb(128, 82, 44);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}

/* Hamburger Lines - Top & Bottom */
.menu-wrap .hamburger>div::before,
.menu-wrap .hamburger>div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}

/* Moves Line Down */
.menu-wrap .hamburger>div::after {
  top: 10px;
}

/* Toggler Animation */
.menu-wrap .toggler:checked+.hamburger>div {
  transform: rotate(135deg);
}

/* Turns Lines Into X */
.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
  top: 0;
  transform: rotate(90deg);
}

/* Rotate On Hover When Checked */
.menu-wrap .toggler:checked:hover+.hamburger>div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked~.menu {
  visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked~.menu>div>div {
  opacity: 1;
  transition: opacity 0.4s ease 0.4s;
}

.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-wrap .menu>div {
  background: var(--overlay-color);
  border-radius: 50%;
  width: 200vw;
  height: 200vw;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1rem;
}

.menu-wrap .menu>div>div>ul>li:hover {
  list-style: none;
  color: rgb(255, 247, 137);
  font-size: 2.5rem;
  padding: 1rem;
}

.menu-wrap .menu>div>div>ul>li>a {
  color: inherit;
  text-decoration: none;
  transition: color 0.4s ease;
}


/* TimeLine */
.container {
  padding: 2rem;
  padding-bottom: 200px;
  margin: 0 auto;
  max-width: 800px;
}

h1{
  text-align: center;
  margin-top: 10px;
  margin-bottom: -50px;
}

h4{
  color: rgb(103, 66, 15);
  text-align: center;
  margin-top: 30px;
  margin-bottom: -50px;
  font-size: 20PX;
}

.top-section {
  letter-spacing: 2px;
  line-height: 1.8;
  text-indent: 36px;
  color: rgb(36, 23, 5);
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding: 4rem 0;
  max-width: 800px;
  margin: 0 auto;
  font-size: 18px;
  font-family: 'Playfair Display','Noto Serif';
}

.timeline {
  position: relative;
  min-height: 150px;
}

.line {
  position: absolute;
  z-index: 2;
  left: calc(50% - 1px);
  width: 2px;
  top: -50px;
  background-color: rgb(68, 51, 26);
  display: none;
  position: absolute;
  z-index: -100;
}

.line:before,
.line::after {
  position: absolute;
  display: block;
  content: '';
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: rgb(68, 51, 26);
  left: 50%;
  transform: translateX(-50%);
}

.line:after {
  bottom: 0;
}

.section {
  display: flex;
  opacity: 0;
  transform: translateX(-100%);
  transition: 600ms ease;
  position: relative;
  z-index: -100;
  margin: 50px 0;
  padding: 1rem;
  align-items: center;
  min-height: 300px;
}

.section:nth-child(odd) {
  flex-direction: row-reverse;
  transform: translateX(100%);
}

.bead {
  position: absolute;
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  background-color: rgb(68, 51, 26);
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
}

.content {
  width: calc(50% - 2rem);
  font-family: 'Playfair Display';
  font-family: 'Noto Serif TC', serif;
}

/* .content li{
  padding: 0;
  margin: 0;
} */
.content img {
  width: 300px;
  height: auto;
  position: relative;
  z-index: -100;
  
}

.show-me:nth-child(n) {
  transform: none;
  opacity: 1;
}

h1 {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 50px;
}


.footer{
  height: 200px;
  background-color: rgb(25, 18, 18);
  align-items: center;
  position:relative;
}

.footer img{
  padding-top: 25px;
  width: 150px;
  /* margin-top: 20px; */
  /* align-items: center;
  justify-items: center;
  position: absolute;
  margin-left: 44%; */
  display:block; 
  margin:auto;
}

.footer p{
  color:rgba(255, 255, 255, 0.384);
  text-align: center;
  float: none;
  padding-top: 5px;
  /* margin-left: 35%; */
  font-size: 10px;
}



