.form-check .form-check-label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-left: 35px;
    line-height: 26px;
    margin-bottom: 0;
    font-size: 15px;
    -webkit-transition: color 0.3s linear;
    transition: color 0.3s linear;
}